.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }

    .view__members {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }

    .view__members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .member__info div p {
        font-weight: 400;
        padding-right: 0765rem;
    }

    .member__info .btn-request {
        font-size: 0.765rem;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .view__members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }

    .view__members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }

    .view__members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}